<script src="https://kit.fontawesome.com/882b973bb7.js" crossorigin="anonymous"></script>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/user', user: @user %>
      <h2>New book</h2>
      <%= render 'books/book', book: @newbook %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h1>Book detail</h1>
      <table class="table table-user-show">
        <tr>
          <td><%= attachment_image_tag @user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg"%></td>
          <td><%= link_to @user.name, user_path(@user) %></td>
          <td><%= @book.title %></td>
          <td><%= @book.body %></td>
          <% if @book.user_id == current_user.id %>
            <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-success"%></td>
            <td><%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>
          <% end %>
        </tr>
      </table>
      <% if @book.favorited_by?(current_user) %>
        <p>
        <%= link_to book_favorites_path(@book), method: :delete do %>
          <span class="fas fa-heart nav-link text-light" aria-hidden="true"> いいね外す</span>
          <%= @book.favorites.count %>
        <% end %>
        </p>
        <% else %>
        <p>
          <%= link_to book_favorites_path(@book), method: :post do %>
            <span class="fas fa-heart nav-link text-light" aria-hidden="true"> いいねする</span>
            <%= @book.favorites.count %>
          <% end %>
        </p>
      <% end %>
    </div>
    <div>
      <p>コメント件数：<%= @book.book_comments.count %></p>
      <% @book.book_comments.each do |book_comment| %>
        <p><%= image_tag('no_image.jpg') %></p>
        <%= book_comment.user.name %>
        <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
        <% if book_comment.user == current_user %>
        <div>
          <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete %>
        </div>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with(model:[@book, @book_comment], local: true) do |form| %>
      <%= form.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
      <%= form.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>